{{define "header"}}
<header class="site-header">
    <div class="container">
        <h2 class="brand-logo"><a href="/" style="color: inherit;">TechStore</a></h2>

        <nav class="nav-links">
            <!-- Если в структуре PageData есть User -->
            {{if .User}}
            <span class="nav-user">Привет, <strong>{{.User.Username}}</strong>!</span>
            <a href="/logout" class="btn btn-outline">Выйти</a>
            {{else}}
            <!-- Если User равен nil (гость) -->
            <a href="/login" class="nav-user" style="font-weight: 500;">Войти</a>
            <a href="/register" class="btn btn-primary">Регистрация</a>
            {{end}}
        </nav>
    </div>
</header>
{{end}}