{{define "mainContent"}}
<main style="padding: 20px;">
    <h2>Добавить новый товар (Админка)</h2>
    <!-- Форма отправляет данные методом POST на наш новый обработчик -->
    <form action="admin/components/add" method="POST" style="margin-bottom: 30px; border: 1px solid #ccc; padding: 15px; border-radius: 5px; max-width: 400px;">
        <div style="margin-bottom: 10px;">
            <label>Название товара:</label><br>
            <input type="text" name="name" required minlength="3" style="width: 100%;">
        </div>
        <div style="margin-bottom: 10px;">
            <label>Производитель:</label><br>
            <input type="text" name="manufacturer" required style="width: 100%;">
        </div>
        <div style="margin-bottom: 10px;">
            <label>Категория:</label><br>
            <input type="text" name="category" required style="width: 100%;">
        </div>
        <div style="margin-bottom: 10px;">
            <label>Цена ($):</label><br>
            <input type="number" name="price" step="0.01" required style="width: 100%;">
        </div>
        <button type="submit" style="background: green; color: white; padding: 10px 15px; border: none; cursor: pointer;">Добавить на витрину</button>
    </form>
    <h2>Наш каталог</h2>
    <div style="display: flex; gap: 20px;">
        <!-- Запускаем цикл по переданному списку компонентов -->
        {{range .Components}}
        <div style="border: 1px solid #000; padding: 15px; border-radius: 5px;">
            <h3>{{.Name}}</h3>
            <p><strong>Производитель:</strong> {{.Manufacturer}}</p>
            <p><strong>Категория:</strong> {{.Category}}</p>
            <p><strong>Цена:</strong> ${{.Price}}</p>
            <p><strong>Рейтинг:</strong> {{.Rating}}⭐</p>
            {{if gt .Stock 10}}
                <p>Осталось много</p>
            {{else if gt .Stock 0}}
                <p style="color: red; font-weight: bold;">Осталось мало: {{.Stock}} шт.</p>
            {{else}}
                <p style="color: #a0a0a0; opacity: 0.5;">Нет в наличии</p>
            {{end}}

            <!-- Условие: если цена больше 200, выводим специальный бейдж -->
            {{if gt .Price 200.0}}
            <p style="color: red; font-weight: bold;">🔥 Премиум сегмент!</p>
            {{end}}
        </div>
        {{end}}
    </div>
</main>
{{end}}